.welcome {
  background: rgba(0, 0, 0, 0.7);
  font-weight: 300;
  color: white;
  width: 48%;
  display: block;
  top: 7em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .welcome {
    width: 73%;
  }
}

@media (max-width: 600px) {
  .welcome {
    width: 80%;
    top: 4em;
  }
}

@media (max-width: 411px) {
  .welcome {
    width: 90%;
    top: 8em;
    font-size: 2.8em;
  }
}
@media(max-width: 375px){
  .welcome {
    top: 6em;
  }
}
@media (max-width: 360px) {
  .welcome {
    top: 5em;
  }
}

@media (max-width: 320px) {
  .welcome {
    font-size: 2.8em;
  }
}

@media (max-width: 260px) {
  .welcome {
    font-size: 2.9em;
  }
}
