.about {
  background-image: url(../../images/food3.png);
  background-position-x: -15.2em;
  background-position-y: 9em;
  background-size: 48.3em;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 30em 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us > img {
  filter: none;
  margin: 2em;
}

.about-us {
  max-width: 1200px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.4;
  top: 77em;
  position: absolute;
}

.about-us > h1 {
  font-weight: 300;
  font-size: 48px;
  margin: 0;
  text-transform: uppercase;
}

.about-us > p {
  max-width: 82%;
  font-weight: 300;
  text-align: center;
  font-size: 1.7em;
  margin: 0;
}

.about-us > h2 {
  font-family: "Salsa";
}

@media (max-width: 1400px) {
  .about {
    background-position-x: -24.2em;
    background-position-y: 8em;
  }
}

@media (max-width: 950px) {
  .about {
    background-position-x: -31.2em;
  }
  .about-us {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .about-us > p {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .about {
    background-position-x: -35.2em;
  }
}
@media (max-width: 414px) {
  .about {
    background-position-y: 1em;
    padding: 24em 0;
  }

  .about-us {
    top: 60em;
  }

  .about-us > img {
    margin: 1em;
  }

  .about-us > p {
    font-size: 1.3em;
}
}

@media(max-width:320px){
  .about-us{
    top: 44em;
  }

  .about-us > p {
    max-width: 100%;
  }

  .about{
    padding: 21em 0;
    background-position-x: -37.2em;
  }
}
