.header-back {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 60rem;
}

.zero-transition {
  transition: none;
}
.one-transition {
  transition: opacity 1s;
}

@media (max-width: 411px) {
  .header {
    min-height: 52rem;
  }
}


@media (max-width: 320px) {
  .header {
    min-height: 36rem;
  }
}
