.home-logo{
  text-decoration: none;
}
.logo {
  padding: 2em 1em;
  display: flex;
  align-items: center;
}
.logo > h1 {
  color: #fff;
}

.logo > img {
  height: 3em;
  margin: 0.5em;
  filter: invert(100%);
}