.locations {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.locations-header {
  margin-top: 8.3em;
}

.locations-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations-logo-boxes-wrapper {
  margin: 7em 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-boxes-wrapper {
  margin-top: 2em;
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.locations-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.locations-logo-wrapper {
  width: 63%;
}

.locations-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.locations-logo > img {
  filter: none;
  margin-right: 0.7em;
  width: auto;
  height: 3.2em;
}

.locations-header > h1 {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 48px;
  text-transform: uppercase;
}

.locations-logo > h3 {
  font-size: 2.2em;
  margin: 0;
}

.locations-logo > h3 > span {
  margin-left: 0.6em;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.locations-header > p {
  width: 76%;
  font-weight: 300;
  text-align: center;
  font-size: 1.7em;
  margin: 0 auto;
}

.map-container {
  padding-bottom: 31%;
  width: 100%;
  height: 0;
  position: relative;
}

//google map full screen and +/- icons

.gm-svpc,
.gmnoprint,
.gm-control-active {
  display: none;
}
//-------------------------------------

@media (max-width: 1210px) {
  .map-container {
    padding-bottom: 24%;
  }
  .locations-logo-boxes-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .location-boxes-wrapper {
    width: 80%;
  }
  .locations-logo-wrapper {
    width: 76%;
  }
}

@media (max-width: 950px) {
  .location-boxes-wrapper {
    width: 95%;
  }
  .locations-logo-wrapper {
    width: 92%;
  }
}

@media (max-width: 640px) {
  .location-boxes-wrapper {
    flex-wrap: wrap;
    width: 250px;
  }
  .map-container {
    padding-bottom: 46%;
  }
  .locations-logo-wrapper {
    width: 92%;
  }
  .locations-header > p {
    font-size: 1.4em;
  }
}

@media (max-width: 414px) {
  .locations-logo > h3 {
    font-size: 1.5em;
    margin: 0;
  }
}
